@using Abp.Web.Mvc.Extensions
@model LearningMpaAbp.Web.Models.Tasks.IndexViewModel
@{
    ViewBag.Title = L("TaskList");
    ViewBag.ActiveMenu = "TaskList";//与SimeTaskAppNavigalAdvices提供程序中的菜单名称相匹配，以突出显示菜单项
                                    //var model = ViewData["Tasks"] as IEnumerable<LearningMpaAbp.Tasks.Dto.TaskDto>;
}
@section scripts{
    @Html.IncludeScript("~/Views/Tasks/Index.js");
}
<h2>
    @L("TaskList")

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">CreateTask</button>
    <a class="btn btn-primary" data-toggle="modal" href="@Url.Action("RemoteCreate")" data-target="#modal" role="button">CreateTask(使用Remote方式调用modal进行展现)</a>

    <!--任务清单按照状态过滤下拉框-->
    <span class="pull-right">
        @Html.DropDownListFor(
     model => model.SelectedTaskState,
     Model.GetTaskStateSelectListItems(),
     new {
         @class = "form-control select2",
         id = "TaskStateCombobox"
     })
    </span>
</h2>

<!--任务清单展示-->
<div class="row" id="taskList">
    @{Html.RenderPartial("_List", Model.Tasks);}
</div>

<!--通过初始加载页面的时候提前创建任务模态框加载进来-->
@Html.Action("Create")

<!--编辑任务模态框通过ajax动态模态框填充到此div中-->
<div id="edit"></div>

<!--Remote模式弹出创建任务模态框-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="createTask" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


@*@{
        Html.RenderPartial("_List", model);
    }
    @{
        Html.RenderPartial("_CreateTask", model);
    }*@

@*<script type="text/javascript">
    $(function () {
        //allow validation framework to parse DOM
        $.validator.unobtrusive.parse('form');
    });
</script>*@

